[general]

search_start_date = 2020-06-23T00:00:00Z
search_end_date = 2020-06-23T23:59:59Z

dsda_doom_directory = d:\\Games\\dsda-doom-dsda
parse_lmp_directory = d:\\MyStuff\\lmp

demo_download_directory = demos_for_upload
wad_download_directory = dsda_wads

testing_mode = true

download_type = date_based|ad_hoc
